## Build output
publish/
publish_api/
api.zip
backend.zip
frontend.zip

## .NET
*.dll
*.exe
*.pdb
*.cache
*.nupkg
*.snupkg
project.nuget.cache
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Oo]bj/
[Bb]in/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Rider / VS
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## Node
node_modules/
dist/
.angular/
.browserlistrc

## OS
.DS_Store
Thumbs.db
desktop.ini

## Logs
*.log
npm-debug.log*

## Environment
appsettings.Development.json
.env
.env.local
